.project-card-main-div {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5rem;
  justify-content: space-evenly;
}

.pr-card-div {
  width: 28rem;
  height: 45rem;
  margin-top: 1rem;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
}
.pr-card-div:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease;
  border-start-start-radius: 1rem;
}

.pr-card-img-div {
  width: 100%;
  height: 65%;
}
.pr-card-img-div img {
  width: 100%;
  height: 100%;
}
.pr-card-info-div {
  padding-left: 2rem;
}
.pr-card-info-div button {
  background-color: white;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1.5rem;
  border: none;
  margin-top: -1rem;
}
.pr-card-info-div h1 {
  font-size: 3rem;
  color: white;
}
.pr-card-info-div p {
  font-size: 1.2rem;
  color: white;
}
